In [2]:
import pandas as pd 
import numpy as np

data_traffic_4g=pd.read_csv('../data/raw/latest-2022-12/sitewise_volumes_dec_2022.csv')

In [25]:
# import pandas as pd

# # Convert the timestamp to a datetime format
# all4gcustomhourlyap['time_key'] = pd.to_datetime(all4gcustomhourlyap['time_key'], format='%Y-%m-%d %H-%M')

# newest_date = all4gcustomhourlyap['time_key'].max()
# oldest_date = all4gcustomhourlyap['time_key'].min()

# # Print the results
# print("Newest date:", newest_date)
# print("Oldest date:", oldest_date)

In [ ]:
data_traffic_4g

In [3]:
data_traffic_4g = data_traffic_4g.rename(columns={'total_dl': 'dltrafficvolume(gb)(gb)','total_ul': 'ultrafficvolume(gb)(gb)'})
data_traffic_4g=data_traffic_4g[['site_id','date','hour','dltrafficvolume(gb)(gb)','ultrafficvolume(gb)(gb)']]
data_traffic_4g = data_traffic_4g.rename(columns={'site_id': 'Site_Id'})
data_traffic_4g = data_traffic_4g.rename(columns={'date': 'Date','hour':'Hour'})

In [4]:
data_traffic_4g = data_traffic_4g.groupby(['Site_Id','Date','Hour']).sum()
data_traffic_4g=data_traffic_4g.reset_index()

In [5]:
data_traffic_4g['Date'] = pd.to_datetime(data_traffic_4g['Date'], format='%Y-%m-%d')
data_traffic_4g['Time_Key'] = data_traffic_4g.apply(lambda row: int(row['Date'].strftime('%Y%m%d') + str(row['Hour']).zfill(2)), axis=1)

In [6]:
data_traffic_4g=data_traffic_4g[['Site_Id','Time_Key','dltrafficvolume(gb)(gb)','ultrafficvolume(gb)(gb)']]

## Target file format

In [1]:
data_traffic_4g

NameError: name 'data_traffic_4g' is not defined

In [10]:
all4gcustomhourlyap=pd.read_csv('../data/raw/all4gcustomhourlyap/all4gcustomhourlyap_2022-12.csv')

In [11]:
all4gcustomhourlyap=all4gcustomhourlyap.rename(columns={'site_id':'Site_Id','ref.l.thrp.gbytes.d':'dltrafficvolume(gb)(gb)','ref.l.thrp.gbytes.ul':'ultrafficvolume(gb)(gb)'})

In [12]:
all4gcustomhourlyap

,Site_Id,dltrafficvolume(gb)(gb),ultrafficvolume(gb)(gb),time_key
0,KL5031,1.429519,0.329103,2022-12-26 14-00
1,KL5031,0.484073,0.074609,2022-12-26 14-00
2,KL5031,0.461909,0.051542,2022-12-26 14-00
3,KL5031,1.916478,0.265258,2022-12-26 14-00
4,KL5031,1.599747,0.242206,2022-12-26 14-00
...,...,...,...,...
55287026,GM0836,0.000000,0.000000,2022-12-01 04-00
55287027,PU0023,0.000000,0.000000,2022-12-01 04-00
55287028,PU0023,0.000000,0.000000,2022-12-01 04-00
55287029,CM0193,0.000000,0.000000,2022-12-01 04-00
55287030,JA0131,0.464300,0.071300,2022-12-01 04-00

In [13]:
import pandas as pd

# Convert the timestamp column to a datetime format
all4gcustomhourlyap['time_key'] = pd.to_datetime(all4gcustomhourlyap['time_key'], format='%Y-%m-%d %H:%M:%S')

# Convert the timestamp to the timekey format and store it in a new column
all4gcustomhourlyap['Time_Key'] = all4gcustomhourlyap['time_key'].dt.strftime('%Y%m%d%H')

In [14]:
all4gcustomhourlyap=all4gcustomhourlyap.drop('time_key',axis=1)

In [15]:
all4gcustomhourlyap

         Site_Id  dltrafficvolume(gb)(gb)  ultrafficvolume(gb)(gb)    Time_Key
0         KL5031                 1.429519                 0.329103  2022122614
1         KL5031                 0.484073                 0.074609  2022122614
2         KL5031                 0.461909                 0.051542  2022122614
3         KL5031                 1.916478                 0.265258  2022122614
4         KL5031                 1.599747                 0.242206  2022122614
...          ...                      ...                      ...         ...
55287026  GM0836                 0.000000                 0.000000  2022120104
55287027  PU0023                 0.000000                 0.000000  2022120104
55287028  PU0023                 0.000000                 0.000000  2022120104
55287029  CM0193                 0.000000                 0.000000  2022120104
55287030  JA0131                 0.464300                 0.071300  2022120104

[55287031 rows x 4 columns]

In [20]:
all4gcustomhourlyap['Site_Id'].nunique()

4747

In [21]:
all4gcustomhourlyap = all4gcustomhourlyap.groupby(['Site_Id','Time_Key']).sum()
all4gcustomhourlyap=all4gcustomhourlyap.reset_index()

In [22]:
all4gcustomhourlyap['Site_Id'].nunique()

4747

In [23]:
all4gcustomhourlyap

        Site_Id    Time_Key  dltrafficvolume(gb)(gb)  ultrafficvolume(gb)(gb)
0        AM0004  2022120100                  18.7978                   1.5376
1        AM0004  2022120101                   9.9607                   0.8118
2        AM0004  2022120102                   7.1119                   0.7663
3        AM0004  2022120103                   4.0087                   0.6552
4        AM0004  2022120104                   4.7399                   0.6803
...         ...         ...                      ...                      ...
3431345  VA5034  2022123119                  12.3715                   1.5716
3431346  VA5034  2022123120                  12.8263                   1.9184
3431347  VA5034  2022123121                  12.7316                   1.6603
3431348  VA5034  2022123122                  11.7411                   1.3846
3431349  VA5034  2022123123                  10.0833                   1.1445

[3431350 rows x 4 columns]

In [24]:
all4gcustomhourlyap.to_csv('../data/processed/data_traffic_4g_new.csv')
#this is the final file